body {
  margin-top: 20px;
  margin-bottom: 20px;
  background: #333;
  color: white;
  text-align: center;
}

input {
  margin-top: 10px;
}

button {
  font-size: 16px;
  margin: 10px;
}

.gold {
  background-image: url("./Media/gold3.jpg");
}

.silver {
  background-image: url("./Media/silver.jpg");
}

.platinum {
  /* background-image: url("./Media/platinum.png"); */
  background-image: url("./Media/platinum2.jpg");
}

.palladium {
  /* background-image: url("./Media/Gold-and-Silver-Bullion-Bars-Ingots-Coins-and-Gold-Rings.jpg"); */
  background-image: url("./Media/palladium.jpg");
}

select {
  padding: 10px;
  margin: 10px;
}

.disabled {
  opacity: 0.75;
}

#table {
  background: black;
}

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.bg-warning {
  color: black;
}
